.app {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  min-height: 100%;
  display: grid;
  grid-template-rows: 80px auto;

  .content {
    background: #ebeef3;
    padding: 26px 0;
    box-sizing: content-box;
  }
}
