.articles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.article {
  width: 941px;
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 682px auto auto;
  grid-template-rows: 46px auto;
  box-sizing: border-box;
}

.content {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 9px;
}

.title-wrapper {
  display: flex;
  height: 28px;
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-btn {
  margin-left: 10px;
  background-color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.favorites-count {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tags-btn {
  height: 20px;
  min-width: 20px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.tags-btn:hover {
  background: #e2e2e2;
}

.description {
  font-size: 12px;
  line-height: 22px;
}

.info {
  padding-right: 60px;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.author-name {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.date {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.avatar {
  position: absolute;
  right: 0;
  width: 46px;
  height: 46px;
}
